.header {
    background: var(--cor-12)
}

.header-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px 20px;
    background: var(--cor-12);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.header-navegacao {
    color: var(--cor-0);
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    /* font-family: 'Poppins';
    font-weight: 400; */
}

.header-navegacao a {
    font-weight: bold;
    color: var(--cor-0);
    padding: 12px 0;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.header-navegacao a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute
}

.header-navegacao a:hover::after {
    width: 100%;
}

@media(max-width: 800px) {
    .header-navegacao a {
        background: var(--cor-11);
        border-radius: 4px;
        padding: 12px;
    }
    .header-navegacao a:hover {
        background: var(--cor-10);
    }
    .header-navegacao a:hover::after {
        width: 0;
    }
}

@media(max-width: 600px) {
    .header-navegacao {
        gap: 12px;
    }
    .header-navegacao a {
        font-size: smaller;
    }
}

@media(max-width: 460px) {
    .header-container {
        flex-direction: column;
        align-items: start;
    }
    .header-navegacao {
        gap: 8px;
    }
}