.biks {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.biks-img {
    position: relative;
    align-self: center;
}

.biks-img img {
    border-radius: 4px;
}

.biks-img span {
    background: var(--cor-12);
    padding: 12px;
    position: absolute;
    top: 20px;
    right: 0;
}

.biks-content h3 {
    margin-bottom: 20px;
}

.biks-content h3::before {
    content: "";
    background: var(--cor-p1);
    display: block;
    width: 16px;
    height: 8px;
}

.biks-content p {
    margin-bottom: 32px;
}

.biks-content div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.biks-content ul li {
    display: flex;
    margin-bottom: 16px;
}

.biks-content ul li img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}


.biks-content ul li:last-child {
    margin-bottom: 0;
}

.biks-content a {
    display: flex;
    place-self: end;
    align-items: center;
}

.biks-content a::after {
    content: "";
    background: no-repeat url(../../img/icones/seta.svg);
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-left: 8px;
    transition: transform 0.3s;
}

.biks-content a:hover:after {
    transform: translateX(4px);
}

.biks-bg {
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-12) 0%);
}

.biks-content h3.magic {
    color: var(--cor-0);
}

.biks-content p.magic {
    color: var(--cor-5);
}

.biks-content ul.magic {
    color: var(--cor-5);
}

@media(max-width: 800px) {
    .biks {
        grid-template-columns: 1fr;
    }
    .biks-bg {
        background: var(--cor-12);
    }
}

@media(max-width: 600px) {
    .biks-content div {
        grid-template-columns: 1fr;
    }
    .biks-content a {
        place-self: start;
    }
    .biks-content ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}