.bicicleta-bg {
    padding-top: 60px;
    padding-bottom: 120px;
    background: var(--cor-11);
}

.bicicleta > span {
    display: block;
}

.bicicleta h1 {
    padding-bottom: 60px;
}

.bicicleta-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.bicicleta-img div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.bicicleta-img img {
    flex: 1;
    border-radius: 4px;
    min-width: 200px
}

.bicicleta-img img:first-child {
    min-width: 100%;
}

.bicicleta-descricao {
    padding-bottom: 40px;
}

.bicicleta-descricao p {
    padding-bottom: 40px;
}

.bicicleta-descricao > div {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: start;
    gap: 12px;
}

.bicicleta-descricao ul {
    display: grid;
    gap: 8px;
}

.bicicleta-descricao ul li {
    background: var(--cor-12);
    padding: 4px;
    border-radius: 4px;
    width: max-content;
}

.bicicleta-informacoes {
    padding-bottom: 40px;
}

.bicicleta-informacoes h2 {
    display: block;
    padding-bottom: 12px;
}

.bicicleta-informacoes ul {
    background: var(--cor-12);
    padding: 40px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bicicleta-informacoes ul img {
    padding-bottom: 12px;
    width: 24px;
}

.bicicleta-informacoes ul h3 {
    padding-bottom: 12px;
}

.bicicleta-fichaTecnica h2 {
    display: block;
    padding-bottom: 12px;
}

.bicicleta-fichaTecnica ul {
    background: var(--cor-12);
    padding: 40px 32px 28px 32px;
    border-radius: 4px;
}

.bicicleta-fichaTecnica ul li {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 4px;
    border-bottom: var(--cor-11) solid 1px;
}

.bicicleta-fichaTecnica ul li:last-child {
    border-bottom: none;
}

.bicicleta-fichaTecnica ul li span:last-child {
    color: var(--cor-6);
}

@media(max-width: 800px) {
    .bicicleta-bg {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .bicicleta-container {
        grid-template-columns: 1fr;
    }
    .bicicleta-img {
        grid-row: 2;
    }
    .bicicleta h1 {
        padding-bottom: 20px;
    }
}

@media(max-width: 400px) {
    .bicicleta-bg {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .bicicleta-informacoes ul {
        grid-template-columns: 1fr;
    }
    .bicicleta-descricao > div {
        grid-template-columns: 1fr;
    }
}
