.introducao {
    background: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}
.introducao-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.introducao-description {
    align-self: end;
    padding-bottom: 200px;
}

.introducao-description h1 {
    color: var(--cor-0);
    padding-bottom: 20px;
    padding-right: 8px;
}

.introducao-description h1 span {
    color: var(--cor-p1);
}

.introducao-description p {
    padding-bottom: 20px;
    padding-right: 8px;
    color: var(--cor-5);
}

.introducao-img img {
    height: 100%;
    object-fit: cover;
}

@media(max-width: 800px) {
    .introducao {
        background: var(--cor-11);
    }
    .introducao-container {
        grid-template-columns: 1fr;
    }
    .introducao-description {
        padding-bottom: 32px;
    }
    .introducao-description h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .introducao-img img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}