.main {
    background: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}
.main-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-description {
    align-self: end;
    padding-bottom: 200px;
}

.main-description h1 {
    color: var(--cor-0);
    padding-bottom: 20px;
    padding-right: 8px;
    /* font-size: 3.3rem;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 600; */
}

.main-description h1 span {
    color: var(--cor-p1);
}

.main-description p {
    padding-bottom: 20px;
    padding-right: 8px;
    color: var(--cor-5);
    /* font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 400; */
}

.main-description a {
    background: linear-gradient(#ffb60d, #e59317);
    color: var(--cor-12);
    display: inline-block;
    padding: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
}

.main-img img {
    height: 100%;
    object-fit: cover;
}