.seguros {
    color: var(--cor-0);
    margin-bottom: 200px;
    background: var(--cor-11);
}

.seguros h2 {
    margin-bottom: 60px;
    padding-top: 80px;
}

.seguros-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding-bottom: 60px;
}

.seguros-content-block {
    background: var(--cor-12);
    padding: 32px 32px 32px 60px;
}

.corchange {
    color: var(--cor-p1);
}

.seguros-content-block div {
    display: flex;
    justify-content: space-between;
}

.seguros-content-block div:last-child {
    flex-direction: column;
}

.seguros-content-block div:last-child span:last-child {
    text-align: end;
    font-size: 0.8rem;
    color: var(--cor-6);
}

.seguros-content-block ul {
    padding-top: 20px;
}

.seguros-content-block ul li {
    padding-top: 20px;
    position: relative;
}

.seguros-content-block ul li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/icones/lista.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: -24px;
    top: 28px;
}

.seguros-content-botao {
    display: block;
    margin-top: 20px;
}

.botao-gray {
    color: var(--cor-0);
    background: var(--cor-10);
}