.vantagens-bg {
    background: var(--cor-12);
    color: var(--cor-0);
    margin-bottom: 200px;
}

.vantagens h2 {
    padding-top: 120px;
    padding-bottom: 60px;
}

.vantagens-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 120px;
}

.vantagens-container img {
    padding-bottom: 8px;
}

.vantagens-container h3 {
    padding-bottom: 8px;
}

@media(max-width: 1090px) {
    .vantagens-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 680px) {
    .vantagens-container {
        grid-template-columns: 1fr;
    }
}